.logoHenry {
  margin-right: 30px;
  margin-left: 10px;
}
.boton {
  background-color: rgba(255, 255, 255, 0);
  color:rgb(4, 164, 185);
  border: 1px solid rgb(4, 164, 185);
  border-radius: 4px;
  margin-left: 5px;
}

.boton:hover {
  color:rgb(52,58,64);
  background-color: rgb(4, 164, 185);
}
.about:hover{
  text-decoration: none;
}